{{- $email := promptString "email" -}}
{{- $username:= promptString "username" -}}
{{- $location:= promptString "location" -}}

[data]
    email = "{{ $email }}"
    username = "{{ $username }}"
    location = "{{ $location }}"
