# specify a directory to install
cask_args appdir: '/Applications'

# Global installs
tap "homebrew/core"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "buo/cask-upgrade"
tap "homebrew/cask-fonts"
brew 'git'
brew 'mas'
cask 'font-victor-mono'
cask 'alfred'
cask 'rectangle'
cask 'karabiner-elements'
cask 'google-drive'

{{- if eq .location "home" }}
# Install these on home machines 
brew 'bitwarden-cli'
cask 'google-chrome'
{{- end }}


{{- if eq .location "work" }}
# Install these on work machines only
cask 'viscosity'
cask 'microsoft-remote-desktop'
cask 'zoom'
cask 'ringcentral'
cask 'amazon-workspaces'
#cask 'slack'
#cask 'google-chrome'
{{- end }}

{{- if eq .location "home" }}
# Install these on home machines only
mas 'WireGuard', id: 1451685025
{{- end }}
